*{
	margin:0px;
	padding:0px;
}
header, nav, section{
	display:block;
}
button{
	margin:20px;
	padding:5px;
	color:black;
	background-color:#E9967A;
	border:solid;
	font:bold 18px century schoolbook;
	box-shadow:3px 3px black;	
}
li > a {
	color:white;
	text-decoration:none;
}
a:hover{
	color:salmon;
}
.list:hover{
	color:salmon;
	text-decoration:none;
}
.login{
	color:black;
	text-decoration:none;
}
.login:hover{
	color:red;
	text-decoration:none;
}
body{
	color:black;
	background-image:url(../img/wallpaper3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:100%
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-flex:1;
	margin:30px;
	
}
#main{
		margin:10px;
		margin-left:40px;
		margin-right:40px;
		display:-webkit-box;
	    -webkit-box-flex:1;
	    -webkit-box-orient:vertical;
		}
#log_head{
	padding:10px;
	text-align:left;
	background:black;
	color:white;
	font:bold 25px century schoolbook;
}
#log_nav{
	text-align:right;
	color:white;
	background:black;
	
}
#log_nav li{
	font:bold 20px century schoolbook;
	padding:10px;
	font-size:20px;
	display:inline-block;
}
#log_sec{
	padding:10px;
	text-align:center;
}
#log_art{
	font:bold 16px century schoolbook;
}
#log_art footer{
	font-size:12px;
	font-family:century schoolbook;
}

