*{
	margin:0px;
	padding:0px;
}
body{
	color:black;
	background-image:url(../img/login.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
header, nav, section{
	display:block;
}
button{
	margin:20px;
	padding:5px;
	color:black;
	background-color:#E9967A;
	border:solid;
	font:bold 18px century schoolbook;
	box-shadow:3px 3px black;	
}
li > a {
	color:white;
	text-decoration:none;
}
a:hover{
	color:salmon;
}
.list:hover{
	color:salmon;
	text-decoration:none;
}
.login{
	color:black;
	text-decoration:none;
}
.login:hover{
	color:red;
	text-decoration:none;
}
input[type="text"],input[type="password"]{
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
}
button{
	border-radius: 8px;
	width:100px;
	border:1px solid coral;
}

#log_head{
	width:100%;
	height: 50px;
	padding:10px;
	text-align:left;
	background:black;
	color:white;
	font:bold 25px century schoolbook;
}
#log_nav{
	text-align:right;
	color:white;
	background:black;
	
}
#log_nav li{
	font:bold 20px century schoolbook;
	padding:10px;
	font-size:20px;
	display:inline-block;
}
#log_sec{
	padding:10px;
	text-align:center;
}
#log_art{
	font:bold 16px century schoolbook;
}
#log_art footer{
	font-size:12px;
	font-family:century schoolbook;
}

#page_footer{
	background:black;
	color:white;
	text-align:center;
	margin: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	width:100%;
	height: 40px;
	padding: 10px;
	font-size: 12px;
	font-family: century schoolbook;
}
